<h1><%= @contact.name %></h1>
<h4>Gender: <%= @contact.age %></h4>
<p>Hair Color: <%= @contact.hair_color %></p>
<p>Eye Color: <%= @contact.eye_color %></p>
<p>Gender: <%= @contact.gender %></p>
<p>Currently living? <%= @contact.alive %></p>
<%= link_to 'Back', contacts_path %>
